# GUI
PyQt5

# Data Handling & Scientific Computing
pandas
numpy

# Plotting
matplotlib

# Backtesting Framework
backtrader

# Database Connector (for MariaDB)
pymysql

# Environment Variable Loading
python-dotenv